body {
  background-color: #f7ecde;
}
h1:before {
  content: "";
  width: 26%;
  height: 25%;
  position: absolute;
  bottom: 8px;
  background-color: #fec260;
  z-index: -1;
  transition: height 0.35s ease;
}
h1:hover::before {
  height: 50%;
}
.adding-new-book {
  border-width: 2px 0 2px 0;
  border-style: dotted;
  border-color: #352e28;
}
h2 {
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
}

.form-control:focus {
  border-color: #fec260;
  box-shadow: 0 0 0 0.25rem rgba(214, 204, 67, 0.801);
}
